﻿@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Produkty</h2>

<div class="col-xs-1 col-lg-offset-11">
    <button type="button" class="btn btn-default" id="btn-insert">
        <i class="glyphicon-plus"></i>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td class="id">@item.ID</td>
                <td class="name">@item.Name</td>
                <td class="price">@item.Price</td>
                <td class="imageurl"><img class="product-image" src="@item.ImageURL" alt="@item.Name" /></td>
                <td class="actions">
                    <button class="btn btn-primary btn-edit">Editovat</button> |
                    <button class="btn btn-primary btn-delete">Smazat</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section  scripts{
<script>
    $(document).ready(() => {
        $('#btn-insert').click(createRow);
        $(document).on('click', '.btn-discard', discard);
        $(document).on('click', '.btn-save', insert);
        $(document).on('click', '.btn-edit', edit);
        $(document).on('click', '.btn-update', update);
        $(document).on('click', '.btn-delete', deleteProduct);
    })

    function sendData(actionUrl, context) {
        const row = $(context).closest('tr');
        const inputs = row.find('input');
        const form = document.createElement('form');
        inputs.map((i, input) => form.append(input.cloneNode()));
        const formData = new FormData(form);

        $.ajax({
            method: 'POST',
            url: actionUrl,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                row.find('.id').text(data.id);
                row.find('.name').html(data.name);
                row.find('.price').html(data.price);
                row.find('.image').html(createImage(data.imageURL));
                row.find('.actions').html('<button type="button" class="btn btn-success btn-edit">Editovat</button>'
                    + '<button data-id="' + data.id + '" type="button" class="btn btn-danger btn-delete">Smazat</button>')
            }
        });
    }

    function insert() {
        sendData('@Url.Action("Insert")', this);    
    }

    function update() {
        sendData('@Url.Action("Edit")', this);
    }

    function deleteProduct() {
        sendData('@Url.Action("Delete")', this);
        let id = $(this).data('id');
        $.ajax({
            url: '@Url.Action("Delete")',
            data: { id: id }
        });

        $(this).closest('tr').remove();
    }
    
    function createImage(url) {
        const img = document.createElement('img');
        img.src = url;
        img.classList.add('image-thumbnail');

        return img;
    }

    function discard() {
        const row = $(this).closest('tr');
        row.remove();
    }

    function edit() {
        const row = $(this).closest('tr');
        let id = row.find('.id').text(),
            name = row.find('.name').text(),
            price = row.find('.price').text(),
            imageurl = row.find('.imageurl img').attr('src');

        row.find('.id').html('<input class="form-control" name="ID" type="number" value="' + parseInt(id) + '" readonly />');
        row.find('.name').html('<input class="form-control" name="Name" type="text" value="' + name.trim() + '" />');
        row.find('.price').html('<input class="form-control" name="Price" type="number" value="' + parseFloat(price) + '" />');
        row.find('.imageurl').html('<input class="form-control" name="Image" type="file" />' +
            '<input name="ImageURL" type="hidden" value="' + imageurl + '" />');
        row.find('.actions').html('<button type="button" class="btn btn-primary btn-update">Uložit</button>');
    }

    function createRow() {
        const table = $('table tbody');
        table.prepend(
            '<tr>'
                + '<td class="id"></td>'
                + '<td class="name">'
                    + '<input type="text" class="form-control" name="Name" />'
                + '</td>'
                + '<td class="price">'
                    + '<input type="number" class="form-control" name="Price" />'
                + '</td>'
                + '<td class="image">'
                    + '<input type="file" class="form-control" name="Image" />'
                + '</td>'
                + '<td>'
                    + '<button type="button" class="btn btn-primary btn-save">Uložit</button>' + ' | ' +
                    + '<button type="button" class="btn btn-danger btn-discard">Zahodit</button>'
                + '</td>'
            +'</tr>'
        );
    }
</script>
}